.box-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box-header {
  flex: 0 0 50px;
  border-bottom: 1px solid rgb(230, 236, 243);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.box-body {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #f4f5fa;
}

.box-footer {
  flex: 0 0 100px;
  border-top: 1px solid rgb(230, 236, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-chat-input {
  resize: none;
  height: 100%;
}

.btn-send {
  color: rgb(24, 144, 255);
  padding: 1rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  &[disabled] {
    opacity: 0.75;
  }
}

.chat-fetch-more {
  text-align: center;
  padding: 1rem;
}
